<%= form_for(@employee, :html => {class: 'ui form', role: 'form'}) do |f| %>
  <div class="ui horizontal divider">
    User Data
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label "First Name" %>
      <%= f.text_field :first_name, placeholder: 'Enter first name'%>
    </div>
    <div class="field">
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name, placeholder: 'Enter last name'%>
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <%= f.label "Username" %>
      <%= f.text_field :username, placeholder: 'Enter username'%>
    </div>
    <div class="field">
      <%= f.label "Email" %>
      <%= f.email_field :email, placeholder: 'Enter email'%>
    </div>
    <div class="field">
      <%= f.label "Job Title" %>
      <%= f.text_field :job_title, placeholder: 'Enter Job Title'%>
    </div>
  </div>
  <div class="ui horizontal divider">
    Phones
  </div>
  <div class="three fields">
    <div class="field">
      <%= f.label "Extension" %>
      <%= f.text_field :ext, placeholder: 'Enter Extension'%>
    </div>
    <div class="field">
      <%= f.label "Direct Phone" %>
      <%= f.text_field :direct_phone, placeholder: 'Enter last name'%>
    </div>
    <div class="field">
      <%= f.label "Direct Fax" %>
      <%= f.text_field :direct_fax, placeholder: 'Enter last name'%>
    </div>
  </div>
  <div class="ui horizontal divider">
    Aniversary - Birthday
  </div>
  <div class="two fields">
    <div class="field">
      <%= f.label "DOB" %>
      <%= f.date_field :dob %>
    </div>
    <div class="field">
      <%= f.label "Anniversary" %>
      <%= f.date_field :anniversary %>
    </div>
  </div>

  <div class="ui horizontal divider">
    Manager Info
  </div>
  <div class="field">
    <%= f.label "Manager" %>
    <%= f.select :manager_id, Employee.where(status: true).collect { |p| [p.display_name, p.id] }, include_blank: true %>
  </div>

  <div class="ui horizontal divider">
    Locations
  </div>
  <div class="fields">
    <%= f.collection_check_boxes :location_ids, Location.where(status: true), :id, :name  do |b| %>
      <div class="field">
        <div class="ui checkbox">
          <%= b.check_box %> <%= b.label %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ui horizontal divider">
    Employee Status
  </div>
  <div class="field">
    <div class="ui toggle checkbox">
        <%= f.check_box :status, class: "hidden" %>
        <%= f.label "Employee Status" %>
    </div>
  </div>

  <div class="ui buttons">
    <% if @employee.new_record? %>
      <%= link_to "Cancel", root_path, class: "ui button" %>
    <% else %>
      <%= link_to "Cancel", employee_path(@employee), class: "ui button" %>
    <% end %>
    <div class="or"></div>
    <%= f.submit(@employee.new_record? ? "Add Employee" : "Update Employee", class: "ui positive button") %>
  </div>
  <% end %>
