<h2 class="ui center aligned icon header">
  <i class="circular building blue icon"></i>
  <%= @program.name.capitalize %>
</h2>

<%= form_for(@program, :html => {class: 'ui form', role: 'form'}) do |f| %>
    <h4 class="ui dividing header">Application Information</h4>
    <div class="field">
        <%= f.label "Name" %>
        <div class="field">
            <%= f.text_field :name, readonly: "", placeholder: 'Enter name of the application...'%>
        </div>
    </div>
    <div class="field">
        <%= f.label "Description" %>
        <div class="field">
            <%= f.text_field :description, readonly: "", placeholder: 'Enter a description of the application'%>
        </div>
    </div>
<% end %>

<br />
<div class="ui buttons">
  <%= link_to "Go Back", programs_path, class: "ui button" %>
  <% if current_user.admin? %>
    <div class="or"></div>
    <%= link_to "Edit", edit_program_path(@program), class: "ui positive button" %>
  <% end %>
</div>
