<tr>
    <td><%= user.first_name.capitalize %></td>
    <td><%= user.last_name.capitalize %></td>
    <td><%= user.email %></td>
    <td><%= user_role(user) %></td>
    <td><%= user.status ? "Enabled" : "Disabled" %></td>
    <td>
      <%= link_to "View", user_path(user.id) %>
      | <%= link_to "Edit", edit_user_path(user.id) %>
    </td>
</tr>
