<h2 class="ui center aligned icon header">
  <i class="circular user icon"></i>
  User: <%= @user.display_name %>
</h2>

<div class="ui relaxed equal width grid">
  <div class="ui row">
    <div class="ui four wide column"></div>
    <div class="ui eight wide column segment">
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            First Name: <%= @user.first_name %>
          </div>
          <div class="field">
            Last Name: <%= @user.last_name %>
          </div>
        </div>

        <div class="field">
          E-Mail: <%= @user.email %>
        </div>

        <div class="field">
          Role: <%= @user.role %>
        </div>

        <div class="field">
          <div class="ui toggle checkbox">
            Status: <%= @user.status %>
          </div>
        </div>

        <%= link_to 'Go Back', users_path, class: 'ui button' %>
    </div>
  </div>
</div>
