<%= form_for(@security, :html => {class: 'ui form', role: 'form'}) do |f| %>
  <h4 class="ui dividing header">Security Information</h4>
  <div class="field">
    <%= f.label "Name" %>
    <div class="field">
        <%= f.text_field :name, placeholder: 'Enter name of the security type...'%>
    </div>
  </div>
  <div class="field">
    <%= f.label "Description" %>
    <div class="field">
        <%= f.text_field :description, placeholder: 'Enter a description for the security type...'%>
    </div>
  </div>

  <div class="fields">
      <div class="ui toggle checkbox">
          <%= f.check_box :status, class: "hidden" %>
          <%= f.label "Enabled" %>
      </div>
  </div>
  <div class="ui buttons">
    <% if @security.new_record? %>
        <%= link_to "Cancel", securities_path, class: "ui button" %>
    <% else %>
        <%= link_to "Cancel", security_path(@security), class: "ui button" %>
    <% end %>
    <div class="or"></div>
    <%= f.submit(@security.new_record? ? "Add Security" : "Update Security", class: "ui positive button") %>
  </div>
<% end %>
