<tr>
    <td><%= location.name %></td>
    <td><%= location.address %></td>
    <td><%= location.suite %></td>
    <td><%= location.city %></td>
    <td><%= location.state %></td>
    <td><%= location.zip_code %></td>
    <td><%= location.status ? "Enabled" : "Disabled" %></td>
    <td><%= link_to "View", location_path(location.id) %>
    | <%= link_to "Edit", edit_location_path(location.id) %> </td>
</tr>
