<%= link_to "Home", root_path, class: "item" %>
<div class="ui dropdown item">
  Employees <i class="dropdown icon"></i>
  <div class="menu">
    <%= link_to "Active Roster", roster_path, class: "item" %>
    <%= link_to "Inactive Roster", roster_disabled_path, class: "item" %>
  </div>
</div>

<div class="right menu">
  <div class="ui dropdown item">
    <%= current_user ? current_user.display_name : "Account" %> <i class="dropdown icon"></i>
    <div class="menu">
      <% if !user_signed_in? %>
        <%= link_to "Sign In", new_user_session_path, class: 'item' %>
      <% else %>
        <%= link_to "Dashboard", admin_path, class: 'item' unless !policy(:dashboard).show? %>
        <%= link_to "Account Settings", edit_user_registration_path, class: 'item' %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'item' %>
      <% end %>
    </div>
  </div>
  <% if !user_signed_in? %>
    <div class="item">
      <%= link_to "Sign Up", new_user_registration_path, class: 'ui primary button' %>
    </div>
  <% end %>
</div>
